<!-- <div class="modal fade" id="myModal" role="dialog"> -->
    <!-- <div class="modal-dialog" role="dialog"> -->
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
             <h4 class="modal-title">Request Form</h4>
          </div>
          <div class="modal-body">
              <span ng-show="loanError" style="color: red;">Enter Details</span>
             <div class="row form-group">
                <div class="col-sm-6">
                   <label>Choose Bank</label><br>
                   <select class="form-control" ng-model="chooseBank">
                      <option value="">Select</option>  
                    <option value="JPMorgan Chase">JPMorgan Chase</option>
                      <option value="Bank of America">Bank of America</option>
                      <option value="Wells Fargo">Wells Fargo</option>
                      <option value="Citigroup">Citigroup</option>
                      <option value="Barclays">Barclays</option>
                      
                   </select>
                </div>
                <div class="col-sm-6">
                   <label>Account Number</label><br>
                   <input type="text" class="form-control" ng-model="accountNumber">
                </div>
             </div>
             <div class="row form-group">
                <div class="col-sm-12">
                   <input type="checkbox" name="vehicle" value="Bike">I allow BlazeLend to access my bank account information for further processing
                </div>
             </div>
             <div class="row form-group">
                <div class="col-sm-12 text-center">
                   <button type="submit" class="btn btn-primary" ng-click="generateOtp()">Submit</button>
                </div>
             </div>
             <div ng-hide="otpHide" class="row form-group">
                <div class="col-sm-12 text-center">
                   <div class="verify-otp">
                      <div class="form-group">OTP has been sent  to your registered mobile number provided with bank account </div>
                      <div class="form-group enter_otp">
                         <label>Enter OTP</label><br>
                         <input type="text" class="form-control">
                         <a href="#">Resend (1:58)</a>
                      </div>
                      <div><button type="submit" class="btn btn-primary" ng-click="successOTP()" data-dismiss="modal" ng-click="clicked()">Verify OTP & Proceed</button></div>
                   </div>
                </div>
             </div>
          </div>
          
       </div>
    <!-- </div> -->
  <!-- </div> -->